@import 'palette.less';
@import 'elements.less';
@import 'fonts.less';

/* 
Poor Man's Reset
CSSresetr.com
*/
html, body {
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	color: #666666;
}
a img, :link img, :visited img {
	border: 0;
}
hr {
	margin: 10px 0;
}

.navigation {
	.gradient(@github_grey_1, @github_grey_1, @github_grey_2);
	.box-shadow(0 0 1px @dark_grey);
	.navbar {
		.rounded(none) !important;
		border: none;
		background: none;
		margin-bottom: 0;
		min-height: 0;
	}
	.navbar-brand {
		.box-sizing();
		line-height: 0;
		padding: 12px 15px 11px;
	}
	ul {
		li {
			float: left;
			a {
				border-left: 1px solid #FFF;
				border-right: 1px solid @github_grey_3;
				.box-sizing();
				color: #333333;
				display: inline-block;
				font-weight: 600;
				padding: 10px 8px;
				text-decoration: none;
				.transition();
				.icon-home {
					margin-right: 3px;
				}
			}
			&:first-child {
				padding-left: 0;
				a {
					border-left: none;
					padding-left: 0;
				}
			}
			&:last-child a {
				border-right: none;
			}
			&:hover {
				a {
					color: @github_blue;
					.transition();
				}
			}
		}
	}
	.social-btns {
		ul {
			float: right;
			li {

			}
		}
	}
}
.site-header {
	margin-top: 20px;
	.logo {
		.box-sizing();
		padding: 5px;
		.box-shadow(0 0 1px @dark_grey);
		img {
			max-width: 100%;
		}
	}
	.site-author {
		color: #495961;
		.font-size(3.2);
		font-weight: 600;
		letter-spacing: -1px;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.site-name {
		color: #495961;
		.font-size(2.8);
		font-weight: 200;
	}
	ul.blog-stats {
		li {
			float: left;
			text-align: center;
			width: 33%;
			.value {
				color: @dark_grey;
				.font-size(2.6);
				font-weight: 600;
				line-height: 1em;
			}
			.type {
				.font-size(1.4);
				color: @grey;
				text-transform: lowercase;
				font-weight: 500;
			}
		}
	}
	ul.personal-info {
		li {
			padding: 2px 0;
			[class^="icon-"] {
				color: #D0D0D0;
				display: inline-block;
				min-width: 25px;
			}
		}
	}
}

// Post Summary
.posts {
	.summary {
		margin: 10px 0;
		&:first-child {
			margin-top: 0;
		}
		.article-header {
			.gradient(@github_fade_1, @github_fade_1, @github_fade_2);
			border: 1px solid @github_grey_4;
			.border-radius(4px, 0, 0, 4px);
			.box-sizing();
			padding: 6px 10px;
			display: block;
			h2.title {
				margin: 0;
				overflow: auto;
				a {
					color: #666666;
					display: inline-block;
					float: left;
					max-width: 90%;
					line-height: 1.4em;
					&:hover {
						color: darken(#666666, 10%);
					}
				}
				.article-icon {
					display: inline-block;
					float: right;
				}
			}

		}
		.article-content {
			.box-sizing();
			padding: 3px 10px;
			.bordered(none, @github_grey_4, @github_grey_4, @github_grey_4);
			.border-radius(0, 4px, 4px, 0);
		}
		.article-info {
			clear: both;
			overflow: auto;
			
			.post-date {
				line-height: 1em;
			}
			.post-date {
				font-weight: 500;
				text-transform: lowercase;
				padding: 6px 0 0;
			}
		}
		.article-footer {
			overflow: auto;
			.post-hash, .tags {
				float: left;
				width: 50%;
			}
			.article-read-more {
				.gradient(@github_grey_1, @github_grey_1, @github_grey_2);
				float: right;
				.font-size(1.0);
				margin-bottom: 3px;
				padding: 3px 8px;
				&:hover {
					.gradient(darken(@github_grey_1, 10%), darken(@github_grey_1, 10%), darken(@github_grey_2, 10%));
				}
			}
		}
	}
}
.post {
	.article-footer {
		overflow: auto;
		padding: 10px 0 5px;
	}
	
}
// Tags
.tags {
	.box-sizing();
	float: left;
	overflow: auto;
	.tag {
		display: inline-block;
		float: left;
		margin-right: 5px;
		margin-bottom: 3px;
		a {
			color: #000;
			display: block;
			padding: 3px 5px;
			background: @commit_green;
			.font-size(1.0);
			font-family: Monaco, Courier, monospace;
			.transition();
			&:before {
				content: "+ "
			}
			&:hover {
				background: @commit_red;
				text-decoration: none;
				.transition();
				&:before {
					content: "- ";
				}
			}
		}
	}
}
.style-font-tag {
	font-family: Monaco, Courier, monospace;
}
.content {
	margin-top: 20px;
}

// Footer
.site-footer {
	.gradient(@github_grey_1, @github_grey_1, @github_grey_2);
	.box-shadow(0 0 1px @dark_grey);

	footer {
		padding-top: 10px;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

// Buttons
button {
	a {
		color: #333;
		padding: ;
		text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	}
	.icon {

	}
}

.no-list-style {
	margin: 0;
	overflow: auto;
	padding: 0;
	li {
		list-style: none;
		list-style-image: none;
		list-style-type: none;
	}
}




